{% extends 'base.html.twig' %}

{% block title %}Liste des vols - vue publique{% endblock %}

{% block body %}
    <h1>Flight index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>Price</th>
                <th>Reduction</th>
                <th>Places</th>
            </tr>
        </thead>
        <tbody>
        {{ app.user }}
        {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>{{ flight.number }}</td>
                <td>{{ flight.dateStart ? flight.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ flight.dateEnd ? flight.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ flight.price }}</td>
                <td>{{ flight.reduction ? 'Yes' : 'No' }}</td>
                <td>{{ flight.places }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        {% if is_granted('ROLE_ADMIN') %}
        <tfoot>
            <tr>
                <td colspan="8">
                    <a href="{{ path('admin_app_flight_new') }}" class="btn btn-primary">Create new</a>
                </td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
{% endblock %}
